<div class="navbar">
  <div class="navbar-brand">
    <img id = "alien" src= <%= asset_path "alien.png"%>/>
  </div>
  <div class="navtext">
  <%= link_to 'Terra Booking', root_path, class: "terra-title" %>
    <%# <p class="terra-title">Terra Booking</p> %>
    <% unless user_signed_in? %>
      <%= link_to 'Log in', new_user_session_path, id: "Login"  %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% else %>
      <%= link_to 'Log out', destroy_user_session_path , method: :delete %>
    <% end %>
  </div>
</div>
  
<% @planets.reverse.each  do |planet|%>
  <% if @i == 1 %>
    <input checked='checked' class="planet<%="#{@i}"%>" id="<%="#{planet.name}"%>"name='planet' type='radio'>
  <% else %>
      <input class="planet<%="#{@i}"%>" id="<%="#{planet.name}"%>"name='planet' type='radio'>
  <% end %>
     <label class='menu' for="<%="#{planet.name}"%>">
      <h2>
      <div class='pip'></div>
      <%="#{planet.name}"%>
    </h2>
    <h3><%="#{planet.price}"%></h3>
    </label>
  <%@i -= 1 %>
<% end %>

<div class='solar'>
<% @planets.each_with_index  do |planet, index|%>
    <div class='solar_systm'>
    <div class="planet <%="#{planet.name}"%>">
    <div class="<%="planet_description #{planet.name}" %>">
        <h1><%= link_to "#{planet.name}",  planet_path(planet), class: 'white-btn'%></h1>
            <% end %>
      <div style="background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%,rgba(0,0,0,1)100%) , url('<%= img_planet(planet) %>'); position: absolute; width: 70rem; height: 50rem; left: -300px; top: -20px; border-radius: 100%; animation: translateBackground 45s infinite linear" ></div>
    <div class="clouds"></div>
      </div>
    </div>
  </div>
<% end %>
</div>
  <%= link_to 'Add a new planet', new_planet_path , class: "new_planet new-green-btn" %>




<!-- 
mercury = https://www.solarsystemscope.com/images/textures/full/2k_makemake_fictional.jpg

venus = https://nasa3d.arc.nasa.gov/shared_assets/images/ven0aaa2/ven0aaa2-copy-428-321.jpg

earth = https://img00.deviantart.net/04ef/i/2009/114/3/e/new_earth_texture_map_by_lightondesigns.jpg

mars = https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mars_texture.jpg

jupiter = https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA07782_hires.jpg
saturne = https://www.solarsystemscope.com/images/textures/full/2k_saturn.jpg

uranus = https://img00.deviantart.net/957c/i/2017/165/4/9/uranus_texture_map_by_jcpag2010-db7yjwb.png

neptune = https://img00.deviantart.net/f068/i/2017/165/b/c/neptune_texture_map_by_jcpag2010-dbcjcv5.png

pluto = https://pre00.deviantart.net/4677/th/pre/f/2015/314/4/e/pluto_map__2015_nov_10__by_snowfall_the_cat-d918tlb.png
-->
