
  <h1><%= @planet.name %></h1>
  <%= link_to "Back to home", planets_path %>
  
    <%= image_tag(img_planet(@planet), class: "photo-basic") %>
     <h3><%= @planet.description %></h3>
     <ul>
          <% @bookings.each do |booking| %>
           <li>
           <%= booking.duration %> year(s)
                
           </li>   
              
                
                
          <% end %>
          <hr>
        <% if @planet.owner != current_user && user_signed_in?%>
        <%= link_to "Book this planet", new_planet_booking_path(@planet) %>
      <% end %>
     </ul> 
