
<div class="stars"></div>

<div class="planetoon"> 
  <div class="wrap">
     <div style="background-image: url('<%= img_planet(@planet) %>'); animation: translateBackground 40s infinite linear; width:300px; height:300px; position:absolute; border-radius:50%;" ></div>
     <div class="clouds"></div>   
  </div>
  <div class="mask"></div>
</div>


<div class="content-show">
  <div class="titree">
    <h1><%= @planet.name %> </h1>
    <h3><%= @planet.description %></h3>
  </div>

  <div class="content-bas">
  <% @years = 2020 %>
    <% @bookings.each do |booking| %> 
      <% @years += booking.duration.to_i %>
    <% end %>
    <h3><%= "You can book this planet from #{@years}" %></h3>
    <hr>

    <%= link_to planets_path do %>
      <%= image_tag "home.svg",class: 'abababa' %>
    <% end %>
    <% if @planet.owner != current_user && user_signed_in?%>
      <%= link_to new_planet_booking_path(@planet) do %>
      <%= image_tag "space.svg",class: 'abababa' %>
    <% end %>
  </div>      
    <% end %>
    <% if @planet.owner == current_user%>
    <%= link_to   edit_planet_path(@planet)do %>
        <%= image_tag "edit.svg" , class: 'abababa' %>
<% end %>

      <%= link_to   planet_path(@planet), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= image_tag "trash.svg" , class: 'abababa2' %>
      <% end %>
<% end %>
</div>

 